[submodule "bsp/w60x"]
	path = bsp/w60x
	url = https://github.com/openLuat/LuatOS-W60x.git
[submodule "qemu-vexpress-a9"]
	path = bsp/qemu-vexpress-a9
	url = https://github.com/openLuat/LuatOS-qemu-vexpress-a9.git
[submodule "stm32f103re"]
	path = bsp/stm32f103re
	url = https://github.com/openLuat/LuatOS-stm32f103re.git
[submodule "bsp/air100"]
	path = bsp/air100
	url = https://gitee.com/openLuat/Luat_CSDK_Air202.git
