#/*
#*********************************************************************************************************
#*                                                    MELIS
#*                                    the Easy Portable/Player Develop Kits
#*                                               makefile Module
#*
#*                                    (c) Copyright 2006-2010, kevin.z China
#*                                             All Rights Reserved
#*
#* File    : make.cfg
#* By      : kevin.z
#* Version : v1.0
#* Date    : 2010-9-3 9:39
#* Descript:
#* Update  : date                auther      ver     notes
#*********************************************************************************************************
#*/

#列出该工程下的所有包含源程序的子目录
SRCDIRS  +=  $(APPROOT)/bsp/allwinner_f1c100s_melis2.0

INCLUDES  += -I$(APPROOT)/bsp/allwinner_f1c100s_melis2.0/include
