#/*
#*********************************************************************************************************
#*                                                    MELIS
#*                                    the Easy Portable/Player Develop Kits
#*                                               makefile Module
#*
#*                                    (c) Copyright 2006-2010, kevin.z China
#*                                             All Rights Reserved
#*
#* File    : make.cfg
#* By      : kevin.z
#* Version : v1.0
#* Date    : 2010-9-3 9:39
#* Descript:
#* Update  : date                auther      ver     notes
#*********************************************************************************************************
#*/
include $(SDKROOT)/includes/cfgs/system.cfg
SRCDIRS  +=  $(APPROOT)/bsp/allwinner_f1c100s_melis2.0
CFLAGS    += -D__F1C100S__
INCLUDES  += -I$(APPROOT)/bsp/allwinner_f1c100s_melis2.0/include \
                    -I$(SDKROOT)/includes										\
                    -I$(SDKROOT)/includes/arch/suniv/bsp					\
                    -I$(SDKROOT)/includes/emod									\
                    -I$(SDKROOT)/includes/emod/mod_orange/gui					\
                    -I$(SDKROOT)/includes/emod/mod_orange/gui/core				\
                    -I$(SDKROOT)/eMod/mod_orange                               	\
                    -I$(SDKROOT)/eMod/mod_orange/Config                        	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI                           	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core                      	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/MemDev               	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/LCDDriver            	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/AntiAlias            	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/font/AWF             	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/kernel               	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/cc                   	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/cc/ConvertColor      	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/cc/ConvertMono       	\
                    -I$(SDKROOT)/eLibs/misc/pub1/common                        	\
                    -I$(SDKROOT)/eLibs                                         	\
                    -I$(SDKROOT)/eMod/mod_orange/GUI/core/font/TrueType/include \
                    -I$(SDKROOT)/livedesk/beetles/include/mod_desktop/msg_srv						\
                    -I$(SDKROOT)/includes/emod/mod_orange/res

# LuatOS includes


INCLUDES  += -I$(APPROOT)/lua/include \
            -I$(APPROOT)/luat/include \

SRCDIRS  += $(APPROOT)/bsp/allwinner_f1c100s_melis2.0/ports \
           $(APPROOT)/lua/src \
           $(APPROOT)/luat/modules \

        #    $(APPROOT)/luat/lcd \
           #